<% @title="- Signup" %>
<div class="jumbotron">
  <div class="row">
    <% unless @user.omniauth? %>
      <div class='col-md-4'>
        <h1>Signup</h1>
    <% else %>
      <div class='col-md-4'>
        <h1>Verify Details</h1>
    <% end %>

    <%= render 'users/form' %>
    <br>
    <!-- DropUp Signup Menu -->
    <div class="btn-group dropup">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Signup with an Account <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Signup with Google', '/auth/google_oauth2' %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to 'Signup with Twitter', '/auth/twitter' %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to 'Signup with LinkedIn', '/auth/linkedin' %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to 'Signup with Facebook', '/auth/facebook' %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to 'Signup with GitHub', '/auth/github' %></li>
      </ul>
    </div>
    </div>
    <div class='col-md-8'>
      <%= image_tag("signup.jpg") %>
    </div>
    </div>
  </div>
</div>
