<% @title="- Signup" %>
<div class="jumbotron">
  <div class="row">
    <% unless @user.omniauth? %>
      <div class='col-xs-4 center-block'>
        <h4><%= link_to "Authenticate with Google!", '/auth/google_oauth2' %>
        <%= link_to "Authenticate with Twitter!", '/auth/twitter' %>
          <%= link_to "Authenticate with LinkedIn!", '/auth/linkedin' %>
          <%= link_to "Authenticate with Facebook!", '/auth/facebook' %>
          <%= link_to button_tag('Sign up via GitHub', class: 'btn-auth btn-github'), '/auth/github' %></h4>
        <%= image_tag('octocat.png', class: 'img-reponsive') %>


      </div>
      <div class='col-xs-6 col-xs-offset-2'>
        <h1>Signup</h1>
    <% else %>
      <div class='col-xs-10 col-xs-offset-2 center-block'>
        <h1>Verify Details</h1>
    <% end %>

    <%= render 'users/form' %>
    </div>
    </div>
  </div>
</div>

