<div align="center">

  <style>h1 {
  color: #000000;
  text-shadow: 1px 1px 2px #5f5f5f, 0 0 30px #a0a0a0, 0 0 5px #f5f5f5;
  }</style>

  <h1>Drop us a line!</h1>

<br>

  <%= simple_form_for @contact, :input_html => {:class => 'form-vertical' } do |f| %>
    <%= f.input :name, placeholder: 'ex. John Doe', :required => true %>
    <%= f.input :email, placeholder: 'jdoe@example.com', :required => true %>
    <%= f.input :message, inline_label: true, lable: false, as: :text, :size => 255, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= button_tag(type: 'submit', class: "btn btn-primary btn-lg btn-block", ) do %>
        <i class="glyphicon glyphicon-send"><strong> Send</strong></i>
      <% end %>
    </div>
  <% end %>
</div>
