<div align="center">
<h1><%= @site.name %></h1>
</div>

<div align="right">
  <%= link_to sites_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_site_path(@site), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {renderTo: "URLs"},
      title: {text: "Insight Scores"},
      xAxis: {type: "datetime"},
      yAxis: {title: {text: "(n/100)"}},
      series: [{
        name: 'Mobile Speed',
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 3.weeks.ago.to_i * 1000 %>,
        data: [10, 10, 10, 10, <%= @mobile.speed %>]
      }, {
        name: 'Mobile UX',
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 3.weeks.ago.to_i * 1000 %>,
        data: [10, 10, 10, 10, <%= @mobile.usability %>]
      }, {
        name: 'Desktop Speed',
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 3.weeks.ago.to_i * 1000 %>,
        data: [10, 10, 10, 10, <%= @desktop.speed %>]
      }],
    });
  }); </script>   

<div id="URLs" align="center"></div>
<br>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>URL</th>
      <th>Mobile Speed</th>
      <th>Mobile Usability</th>
      <th>Desktop Speed</th>
    </tr>
    </thead>

    <tbody>
      <td><%= @site.url %></td>
      <td><%= @mobile.speed %></td>
      <td><%= @mobile.usability %></td>
      <td><%= @desktop.speed %></td>
    </tbody>
  </table>
</div>
