<div align="center">
  <h1><%= @site.name %></h1>
</div>

<div align="right">
  <%= link_to sites_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_site_path(@site), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
</div>

<%= render 'highcharts_show' %>

<div class="row">
  <div class='col-md-8'>
    <div id="URLs"></div>
  </div>
  <div class='col-md-4'>
    <div id="Guage"></div>
  </div>
</div>

<br>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Date</th>
      <th>Desktop Speed</th>
      <th>Mobile Speed</th>
      <th>Mobile Usability</th>
    </tr>
    </thead>

    <tbody>
    <% @site.webstats.last(5).each_with_index do |stat, index| %>
      <tr>
        <td><%= stat.pull_date.getlocal.strftime("%m/%d/%Y") %></td>
        <td class='<%= up_down(stat.desktop_score, @site.webstats[index - 1].try(:desktop_score)) %>'><%= stat.desktop_score %></td>
        <td class='<%= up_down(stat.mobile_score, @site.webstats[index - 1].try(:mobile_score)) %>'><%= stat.mobile_score %></td>
        <td class='<%= up_down(stat.mobile_usability, @site.webstats[index - 1].try(:mobile_usability)) %>'><%= stat.mobile_usability %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <h4>Suggestions to speed up your website on Mobile:</h4>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th bgcolor="#b25241">Should Fix</th>
    </tr>
    </thead>
    <tbody>
    <% @site.mobile_issues.high.active.each do |summary| %>
      <tr><td><%= summary.suggestion %></td></tr>
    <% end %>
    </tbody>
  </table>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th bgcolor="#F9BF3B">Consider Fixing</th>
    </tr>
    </thead>
    <tbody>
    <% @site.mobile_issues.medium.active.each do |summary| %>
      <tr><td><%= summary.suggestion %></td></tr>
    <% end %>
    </tbody>
  </table>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th bgcolor="#609b61">Passed</th>
    </tr>
    </thead>
    <tbody>
    <% @site.mobile_issues.low.active.each do |summary| %>
      <tr><td><%= summary.suggestion %></td></tr>
    <% end %>
    </tbody>
  </table>
  <a href='https://developers.google.com/speed/pagespeed/insights/optimizeContents?url=<%= @site.url %>&strategy=mobile'>Download
    optimized image, JavaScript, and CSS resources for this page to speed up your website on mobile. Courtesy of Google</a>
  <h4>Suggestions to speed up your website on Desktop:</h4>
  <table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th bgcolor="#b25241">Should Fix</th>
  </tr>
  </thead>
  <tbody>
  <% @site.desktop_issues.high.active.each do |summary| %>
    <tr><td><%= summary.suggestion %></td></tr>
  <% end %>
  </tbody>
</table>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th bgcolor="#F9BF3B">Consider Fixing</th>
    </tr>
    </thead>
    <tbody>
    <% @site.desktop_issues.medium.active.each do |summary| %>
      <tr><td><%= summary.suggestion %></td></tr>
    <% end %>
    </tbody>
  </table>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th bgcolor="#609b61">Passed</th>
    </tr>
    </thead>
    <tbody>
    <% @site.desktop_issues.low.active.each do |summary| %>
      <tr><td><%= summary.suggestion %></td></tr>
    <% end %>
    </tbody>
    </table>
    <a href='https://developers.google.com/speed/pagespeed/insights/optimizeContents?url=<%= @site.url %>&strategy=desktop'>Download
      optimized image, JavaScript, and CSS resources for this page to speed up your website on desktops. Courtesy of Google</a>
</div>
