<header>
  <nav class="grey darken-3" role="navigation">
    <div class="nav-wrapper container">
      <%= link_to 'SpeedOp', root_url, class: 'brand-logo white-text', id: 'logo-container' %>
      <a href="#" data-activates="mobile-demo" class=" button-collapse white-text"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if current_user %>
                <li>Hey there, <%= current_user.name%>&nbsp;&nbsp;&nbsp;</li>
                <li><%= image_tag(current_user.image_url, class: 'circle responsive-img profile_pic', :size => '48x48', alt: current_user.name) %></li>
                <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
        <% else %>
            <li><%= link_to 'Contact Us', contacts_path, class: 'white-text' %></li>
            <li><%= link_to 'Log In', signup_path, class: 'btn deep-purple lighten-2 white-text' %></li>
        <% end %>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <% if current_user %>
            <li><%= image_tag(current_user.image_url, class: 'circle responsive-img mobile_profile_pic', :size => '140x140', alt: current_user.name) %></li>
            <li><%= link_to 'Home', root_url, class: 'btn grey darken-3 deep-purple-text text-lighten-2' %></li>
            <li><%= link_to 'Contact Us', contacts_path, class: 'btn grey darken-3 deep-purple-text text-lighten-2' %></li>
            <li><%= link_to 'Log Out', logout_path, :method => :delete, class: 'btn grey darken-3 deep-purple-text text-lighten-2' %></li>
        <% else %>
            <li><%= link_to 'Home', root_url, class: 'btn grey darken-3 deep-purple-text text-lighten-2' %></li>
            <li><%= link_to 'Contact Us', contacts_path, class: 'btn grey darken-3 deep-purple-text text-lighten-2' %></li>
            <li><%= link_to 'Log in', signup_path, class: 'btn grey darken-3 deep-purple-text text-lighten-2' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <script>$( document ).ready(function(){
    $('.button-collapse').sideNav();
  });</script>
</header>