<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Speed Op <%= @title %></title>
  <% @title="Home" %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]><![endif]-->
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand changeFont" href="http://speedop.com">
          Speed Op
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to 'Dashboard', root_path %></li>
          <li><%= link_to 'Signup', new_user_path %></li>
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Contacts', contacts_path %></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container" style="margin-bottom: 60px";>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg %>
      <% end %>
    <% end %>

    <%= yield %>
  </div>


  <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">

    <div class="container">
      <div class="navbar-text pull-left">
        <p class="social">© 2015 <a href="http://speedop.com" class="social">SpeedOp.com</a></p>
      </div>
      <div class="navbar-text social pull-right">
        <a href="mailto:info@speedop.com" class="social"><i class="fa fa-envelope fa-2x"></a></i>
        <a href="http://twitter.com/speedop" class="social"><i class="fa fa-twitter fa-2x"></a></i>
        <a href="http://github.com/davincicoders/speed_op" class="social"><i class="fa fa-github fa-2x"></a></i>
      </div>

    </div>

  </div>
</body>

</html>
